tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  min-width: 170px;
  width: 200px;
}

td {
  cursor: default;
  transition: all 0.15s ease;
}

.deletable:hover {
  background-color: #f93636;
  color: #f2f2f2;
}

.alert {
  position: absolute;
  top: 10px;
  right: 5%;
  width: 30%;
  margin-inline: auto;
  transition: all 0.15s ease;
}
