tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  min-width: 170px;
  width: 200px;
}

td {
  cursor: default;
  transition: all 0.15s ease;
}

.deletable:hover {
  background-color: #f93636;
  color: #f2f2f2;
}
