h1 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px;
    border-radius: 5px;
    max-width: 90%;
    white-space: normal;
    overflow-wrap: break-word;
    text-align: left;
}

img {
    aspect-ratio: initial;
    max-height: 350px;
    object-fit: contain;
}

#details-container ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#details-container li {
    margin-block: 20px;
    align-items: center;
}

.image-container {
    position: relative;
    display: inline-block;
}

.author {
    font-weight: bold;
    margin-bottom: 20px;
}

.right-side {
    border-left: 1px solid grey;
    padding-left: 50px;
    text-align: start;
    align-content: center;
}

.error {
    font-size: 10pt;
    color: #f33333;
}

.title {
    display: flex;
    gap: 10%;
}

.hidden {
    display: none;
}

#selected-users {
    display: flex;
    flex-wrap: wrap;
    font-size: 10pt;
}

.clear-user {
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 6px;
}
.selected-user-bubble {
    padding: 10px;
    border-radius: 20px;
    background-color: #bebaba;
    display: flex;
    margin: 5px;
    align-items: center;
}

#details-container {
    width: 100%;
    margin-top: 30px;
    padding-left: 20%;
}

#edit-icon {
    text-align: right;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    align-content: center;
}

#edit-icon:hover {
    background-color: #d9d6d6;
}

@media (max-width: 576px) {
    img {
        width: 100%;
    }
    .image-container {
        width: 100%;
    }

    #details-container {
        padding-left: 20px;
    }

    .right-side {
        border: none;
        padding-left: 10px;
    }
}
